<header id="header">
    <img id="logo" src="https://cdn2.iconfinder.com/data/icons/nodejs-1/512/nodejs-512.png" alt="Web Design in 4 minutes logo">
    <h1>Título</h1>
</header>

<p>In a perfect world without any network latencies and processing time an ajax-request would be instant. Unfortunately we don´t
    live in such a world... but I´m sure you knew that already :)</p>

<p>In a perfect world without any network latencies and processing time an ajax-request would be instant. Unfortunately we don´t
    live in such a world... but I´m sure you knew that already :)</p>

<pre>
var createGroupedArray = function(arr, chunkSize) {
    var groups = [], i;
    for (i = 0; i < arr.length; i += chunkSize) {
        groups.push(arr.slice(i, i + chunkSize));
    }
    return groups;
}    
</pre>

<div class="perfil">
    <img src="https://avatars3.githubusercontent.com/u/13773645?v=3&s=460" />
    <p>Igor Souza Martins</p>
    <div class="social">
        <a href="#" class="fa fa-facebook"></a>
    </div>
</div>