@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}
h1,
h2,
strong {
  color: #333;
}

p {
  margin-top: 10%;
  color: #37474f;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
  margin-top: 10%;
}

a {
  color: #e81c4f;
}

header {
  background-color: #263d36;
  background-image: url("https://31.media.tumblr.com/9e8da137ca774b2397e2b1ba8e1f0ff9/tumblr_inline_nifu2qfNBH1rtan47.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
  width: 100%;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

.perfil p {
  text-align: center;
  margin-top: 1%;
}

.perfil img {
  margin-top: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-top-left-radius: 10% 10%;
  border-top-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
  border-bottom-right-radius: 10% 10%;
}

.perfil social {
  margin-top: 1%;
}