@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
}

.corpo {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}
h1,
h2,
strong {
  color: #333;
}

p {
  margin-top: 10%;
  color: #37474f;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
  margin-top: 10%;
}

a {
  color: #e81c4f;
}

.capa {
  height: 2%;
  background-color: #0000FF;
  color: red;
  position: relative;
}

.capa ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.capa li {
    float: left;
}

.capa li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.capa li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.perfil p {
  text-align: center;
  margin-top: 1%;
}

.perfil img {
  margin-top: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
}

.social {
  margin-top: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icons_share {
    width: 100%;
    display:inline-block;
}

.nav {
    padding-bottom: 10%;
    text-align: center;
    width: 100%;
    display:inline-block;
    position: relative;
}

.nav a {
  color: #37474f;
  font-size: 30px;
  padding: 5%;
  text-decoration: none;
}

header {
  background-color: #69327F;
  background-image: url("htatps://static.pexels.com/photos/4097/city-cars-traffic-lights.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 5em;
  text-align: center;
  width: 100%;
  height: auto;
}

header img {
  display: inline-block;
  height: 200px;
  vertical-align: top;
  width: 200px;
}

header h1 {
  color: white;
  font-size: 4.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}